<h1>Listing fortunes</h1>
<div id="listMenu">
	<%= paginate @fortunes, :remote => true %>
</div>
<div class="grid">
	<% @fortunes.each do |fortune| %>
	<div class="gridElement">
		<%= render :partial => "fortune_big", :locals  => { :fortune => fortune }  %>
	</div>
	<% end %>

	<br />
</div>
