<h1>Listing fortunes</h1>
<div id="listMenu">
	<div id="pagination">
		<%= paginate @fortunes, :remote => true %>
	</div>
</div>
<div class="grid" id="fortuneList">
	<%= render :partial => "fortune_list", :locals => { :fortunes => @fortunes } %>
</div>
