/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
$appColor: #00A300;
$appTextColor: white;


div.appTitle {
		color: $appTextColor;
		background-color: $appColor;
		font-size: 20pt;
		border-radius: 5px;
		border-width: 1px;
		border-style: solid;
		padding: 15px;
		margin: 10px;
}

