/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 */
$secondaryBack: white;
$primaryBack: #BBFA5D;
$secondaryTextColor: #00A300; 
$primaryTextColor: darken($primaryBack, 40%);
$pagePadding: 15px;
$linkColor: #76EE23;

body {
    background: #a4b357; /* Old browsers */
    background: -moz-linear-gradient(top, #a4b357 0%, #75890c 80%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4b357), color-stop(80%,#75890c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #a4b357 0%,#75890c 80%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #a4b357 0%,#75890c 80%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #a4b357 0%,#75890c 80%); /* IE10+ */
    background: linear-gradient(top, #a4b357 0%,#75890c 80%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c',GradientType=0 ); /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c',GradientType=0 ); /* IE6-9 */
    color: $primaryTextColor;
}

a:link, a:visited, a:hover {
    color: $linkColor !important;
}

header {
    width: 800px;
    padding: 0px 10px 0px 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: $primaryBack;

    border-radius: 15px 15px 0px 0px;
    border-width: 1px;

    div.appTitle {
	height: 120px;
	color: $secondaryTextColor;
	background-color: $secondaryBack;
	font-size: 30pt;
	border-radius: 15px 15px 0px 0px;
	border-width: 1px;
	border-style: solid;
	border-color: $secondaryBack;
    }
}


div#mainMenu {
    float: right;
    font-size: 25pt;
    padding: 20px;
    vertical-align: bottom;
    a {
	font-size: 18pt;
	display: block;
	text-decoration: none;
    }
    a:before {
	content: ">> ";
    }
}

div[role=main] {
    padding: 0px 10px 0px 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 15px 15px;
    width: 800px;
    min-height: 500px;
    background-color: $primaryBack;
    color: $primaryTextColor;
}

div#content {
    a:link, a:visited, a:hover {
	color: darken($linkColor,30%) !important;
    }
}

footer {
    padding: $pagePadding;
    text-align: center;
    float: left;
    width: 100%;
}

textarea {
    border-radius: 7px;
    padding: 7px;
    height: 150px;
}

#ajaxLoading {
    display: none;
    background: url('ajax-loader.gif') top left no-repeat;
    padding-left: 20px;
}

#infoBar {
    height: 20px;
}

p.auth {
		font-size: 10px;
		vertical-align: bottom;
}