// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form.new_comment textarea {
		height: 100px;
		witdh: 300px;
}

div.comment > p.author {
    text-align: right;
    font-style: italic;
}