// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form.new_comment textarea {
		height: 100px;
		witdh: 300px;
}

div.commentsList {
		width: 300px;
		margin-left: auto;
		margin-right: auto;
}

div.comment {

}

div.comment > p.author {
    text-align: right;
    font-style: italic;
}

div.comment_vote {
		float: right;
		font-weight: bold;
		a:link, a:visited, a:hover {
				text-decoration: none;
		}
}
