div.fortuneBig {
    width: 350px;

		border-radius: 10px;
    border-width: 1px;
    border-style: solid;

    padding: 10px;
    margin-left: auto;
		margin-right: auto;

}

div.fullContent {
    display: none;

}

div.gridElement {
    float: left;
		padding: 10px;
}

div.grid {
    width: 784px;
		min-height: 600px;
		margin-left: auto;
		margin-right: auto;
		float: none;

}

div#listMenu {
    text-align: center;
}

div#pagination {
		width: 100%;
		text-align: center;
}

.fortuneHeader {
    text-align: center;
}

div.centralFortune {
		width: 100%;
		fortuneBig {
				width: 350px;
		}
}

div.randomFortune fullContent {

}

div.fortuneMenu {
    float: right;
}

div.newComment {
		width: 100%;
		textarea {
				margin-left: auto;
				margin-right: auto;

				width: 335px;
		}

		div#error_explanation {
				width: 335px;
		}
}


div#fallingFortuneTemplate {
		display: none;
}

div#fallingArea {
		width: 100%;
		height: 700px;
}

div.fallingFortune {
		background-color: #71D439;

		position: absolute;

		border-radius: 10px;
    border-width: 1px;
    border-style: solid;

		width: 100px;

		text-align: center;
		
		display: none;
		div.content {
				display: none;
				font-style: italic;
				padding: 0px 5px 0px 5px;

				div.text {
						height: 50px;
						overflow: hidden;
						float: left;
				}
		}
		div.content:after {
				content: '...';
		}
		div.fortuneId {
				display: none;
		}
}
