div.fortuneBig {
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    margin: 10px;
		width: 350px;
}

div.fullContent {
    display: none;
    max-width: 300px;
}

div.gridElement {
    float: left;
}

div.grid {
    width: 800px;
		height: 600px;
		margin-left: auto;
		margin-right: auto;
		float: none;

}

div#listMenu {
    text-align: center;
}

div#pagination {
		width: 100%;
		text-align: center;
}

.fortuneHeader {
    text-align: center;
}

div#randomFortune {
    padding-left: 30%;
    padding-right: 30%;
}

div.randomFortune fullContent {

}

div.fortuneMenu {
    float: right;
}

div.newComment {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
}