div.fortuneBig {
		border-radius: 10px;
		border-width: 1px;
		border-style: solid;
		padding: 10px;
		margin: 10px;
}

div.fullContent {
		display: none;
}

div.gridElement {
		float: left;
}

div.grid {
		width: 100%;
		float: left;
}

div#listMenu {
		width: 100%;
		float: left;
		text-align: center;
}

